#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #92D9E8;
    padding: 40px;
    height: 85vh;
    justify-content: center;
}

.contactsInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.row {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.row img {
    width: 120px;
    height: auto; 
    margin: 1vw 0; 
}

@media (max-width: 768px) {
    .row {
        width: calc(50% - 20px);
        margin: 0px;
        margin-bottom: 30px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .row {
        width: calc(50% - 20px);
        margin: 0px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #contacts {
        padding: 40px; 
        height: 95vh;
    }

    .row img {
        width: 90px;
    }
}

@media (max-width: 320px) {
    .row {
        width: 100%; 
        margin: 0px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .row img {
        width: 80px; 
    }
}
